<!DOCTYPE html>
<html lang="en">

<body>
    <header>
        <h1 class="text-white bg-dark py-4 pl-3">My Desings</h1>
    </header>

    <main>
        <div class="container-fluid">
            <div class="row mt-5 mx-3">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3" *ngFor = "let item of lists">
                    <img src = "wp4.jpg" class="img-responsive">
                    <h3 class="mt-2">{{item['name']}}</h3>
                    <h6 class="text-secondary">Sub Heading</h6>
                </div>
                <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                    <img src = "wp4.jpg" class="img-responsive">
                    <h3 class="mt-2">Wallpaper1</h3>
                    <h6 class="text-secondary">Sub Heading</h6>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                    <img src = "wp4.jpg" class="img-responsive">
                    <h3 class="mt-2">Wallpaper1</h3>
                    <h6 class="text-secondary">Sub Heading</h6>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                    <img src = "wp4.jpg" class="img-responsive">
                    <h3 class="mt-2">Wallpaper1</h3>
                    <h6 class="text-secondary">Sub Heading</h6>
                </div><div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                    <img src = "wp4.jpg" class="img-responsive">
                    <h3 class="mt-2">Wallpaper1</h3>
                    <h6 class="text-secondary">Sub Heading</h6>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                    <img src = "wp4.jpg" class="img-responsive">
                    <h3 class="mt-2">Wallpaper1</h3>
                    <h6 class="text-secondary">Sub Heading</h6>
                </div><div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                    <img src = "wp4.jpg" class="img-responsive">
                    <h3 class="mt-2">Wallpaper1</h3>
                    <h6 class="text-secondary">Sub Heading</h6>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                    <img src = "wp4.jpg" class="img-responsive">
                    <h3 class="mt-2">Wallpaper1</h3>
                    <h6 class="text-secondary">Sub Heading</h6>
                </div><div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                    <img src = "wp4.jpg" class="img-responsive">
                    <h3 class="mt-2">Wallpaper1</h3>
                    <h6 class="text-secondary">Sub Heading</h6>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                    <img src = "wp4.jpg" class="img-responsive">
                    <h3 class="mt-2">Wallpaper1</h3>
                    <h6 class="text-secondary">Sub Heading</h6>
                </div> -->
            </div>
        </div>
    </main>

    <footer>

    </footer>
</body>
</html>